#header {
    font-family: EBGaramond, serif;
    font-size: 60px;
    color: white;
}

#description {
    font-family: EBGaramond, serif;
    font-size: 20px;
    color: white;
    font-style: italic;
    /* width: 600px; */
}

.contentWrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1400px;
}

.formElement {
    /* position: relative; */
    margin: 20px auto;
}

.okBtn {
    background-color: green;
    margin-right: 15px;
}

.ccBtn {
    background-color: red;
}