.menu {
    position: absolute;
    width: 400px;
    height: 600px;
    top: 30%;
    left: 37%;
    list-style-type: none;
    margin-right: 50%;
}

.menuOptions {
    list-style-type: none;
    font-family: EBGaramond, serif;
    font-size: 28px;
}

.menuOptionText {
    margin: auto 0;
    float: right;
    color: white;
    font-size: 40px;
    font-family: EBGaramond serif;
}

.menuOptions a {
    /* display: block; */
    font-family: EBGaramond, serif;
    color: white;
    text-decoration: none;
    /* text-align: center; */
}

.menuOptions a > img {
    padding-right: 10px;
}