.sortButton {
    background: transparent;
    color: white;
    font-size: 28px;
    font-family: EBGaramond, serif;
    border: none;
    margin-right: 15px;
    margin-left: 0px;
    text-decoration: none;
}

.selected {
    color: gold;
    text-decoration: underline;
}

.inventoryList {
    margin: 25px auto;
    max-width: 400px;
    min-width: 300px;
    max-height: 450px;
    font-family: EBGaramond, serif;
    font-size: 20px;
    color: white;
    overflow-y: scroll;
    list-style-type: none;
}

.inventoryList > li {
    border-bottom: 1px solid white;
    margin-left: 5px;
}

.monsterItem {
    background-color: #FF8B53;
}

.spellItem {
    background-color: #1D9E74;
}

.trapItem {
    background-color: #BC5A84;
}

.xyzItem {
    background-color: #000;
}

.ritualItem {
    background-color: #9DB5CC;
}

.fusionItem {
    background-color: #A086B7;
}

.synchroItem {
    background-color: #CCCCCC;
    color: black;
}

.pendulumItem {
    background-color: #1D9E74;
}

.linkItem {
    background-color: #00008B;
}

.tokenItem {
    background-color: #C0C0C0;
}